.App {
  text-align: center;
}

.post_form {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
}

.status{
  margin-right: 20px;
  margin-left: 20px;
}

ul {
  margin-top: 40px;
}

li{
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

.flexbox{
  display: flex;
  flex-direction: row
}

div > label {
  margin-right: 20px;
  margin-left: 20px;
}

.select {
  width: 250px;
}

.submit_form {
  height: 30px;
}

.form_flexbox{
  display: flex;
  flex-direction: row;
}

.new_status{
  display:flex;
 margin-left: 60px;
}

.flexbox > input {
  height: 20px;
}

.submit_form > div {
  display: flex;
  flex-direction: row;
}

.input{
  position: relative;
  height: 20px;
  margin-left: 10px;
  margin-top: 3px;
}

.selected {
  margin-bottom: 12px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
